<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Glossaries', admins_glosarries_path %>
    <%= breadcrumb_item 'New Glossary' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create New Glossary</h1>
  </div>
</div>

<%= render 'form', glosarry: @glosarry %>
