<% if @news.blank? %>
  <h4><%= params[:query].present? || params[:tag].present? ? "No matched news for '#{params[:query] || params[:tag]}'" : 'Sorry, no available news right now!' %></h4>
<% else %>
  <% @news.each do |news| %>
    <%= link_to public_news_view_path(news.slug), :class => 'investasiku-color beritaku-square' do %>
      <div class="beritaku-content border-grey">
        <div class="wrapper-thumbnail" style="background: url(<%= news.image_url || image_url('tax.jpg') %>); background-size:cover; background-position:center"></div>
        <div class="beritaku-title">
          <h4><%= news.title %></h4>
          <%= render :partial => 'home/shared/share_buttons', :locals => { :minimal => true,
                                                                           :title => news.title,
                                                                           :url => public_news_view_url(news.slug),
                                                                           :image => news.image_url } %>
          <p class="grey time-beritaku"><i class="fa fa-clock-o"></i>&nbsp;<%= l news.created_at %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
