<% if @tips.blank? %>
  <h4><%= params[:query].present? ? "No matched investment tips for '#{params[:query]}'" : 'Sorry, no available investment tips right now!' %></h4>
<% else %>
  <% @tips.each do |tip| %>
    <div class="glossary-content border-bottom">
      <%= link_to public_tips_view_path(tip.slug) do %>
        <h4 class="investasiku-color"><%= tip.title %></h4>
        <p class="truncate-6"><%= strip_tags(tip.content) %></p>
      <% end %>
      <%= render :partial => 'home/shared/share_buttons', :locals => { :minimal => false,
                                                                       :title => tip.title,
                                                                       :url => public_tips_view_url(tip.slug),
                                                                       :image => image_url('logo_color.png') } %>
    </div>
  <% end %>
<% end %>
