<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Investment Tips', admins_investment_tips_path %>
    <%= breadcrumb_item 'Create Investment Tip' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create an Investment Tip</h1>
  </div>
</div>

<%= render 'form', investment_tip: @investment_tip %>
