<%
  set_meta_tags description: 'Belajar investasi itu mudah loh!'
  set_meta_tags keywords: %w[investasiku investasi belajar]
%>

<div class="front-page top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="home-jumbotron">
        <div class="col-xs-12 front-body-headline">
          <div class="text-center">
            <h2 class="white">Belajar investasi itu mudah!</h2>
            <%= link_to 'Mulai dari sini!', public_module_path, :class => 'white invest-btn text-center' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron-split">
        <div class="col-md-6 col-sm-12 col-xs-12 front-pad-right border-right" style="background: url(<%= image_url('home-beritaku.png') %>); background-size:cover; background-position:center">
          <div class="headline-split vertical-middle">
            <div class="section-badge tema beritaku-sect">Beritaku</div>
            <div class="pull-left split-width">
              <h4 class="white">Dapatkan tips harian untuk mengatur investasimu</h4>
              <a href="#" class="invest-color">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 front-pad-right">
          <div class="headline-split vertical-middle">
            <div class="section-badge tema beritaku-sect">Investment Theme</div>
            <div class="pull-left split-width">
              <h4 class="white">Dapatkan tips harian untuk mengatur investasimu</h4>
              <a href="#" class="invest-color">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'home/shared/ad_view' %>

<div class="front-page bottom-section">
  <div class="container">
    <div class="row">
      <div class="front-beritaku col-md-4 col-xs-12">
        <div class="row">
          <%= link_to public_news_path do %>
            <div class="hot top-beritaku" style="background: url(<%= image_url('home-beritaku.png') %>); background-size:cover; background-position:center">
              <div class="section-badge tema beritaku-sect">Beritaku</div>
              <div class="pull-left split-width">
                <h4 class="white">Berita terpenting untuk investasimu!</h4>
              </div>
            </div>
          <% end %>

          <% @news.each do |news| %>
            <div class="front-beritaku-small border-bottom">
              <%= link_to public_news_view_path(news.slug), :class => 'sect-child row no-margin' do %>
                <div class="beritaku-wrapper">
                  <%= image_tag news.image_url || 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color"><%= news.title %></h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l news.created_at %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="front-investment-theme col-md-4 col-xs-12">
        <div class="row">
          <%= link_to public_tips_path do %>
            <div class="hot top-investment" style="background: url(<%= image_url('home-investment.png') %>); background-size:cover; background-position:center">
              <div class="section-badge tema beritaku-sect">Tips Investasi</div>
              <div class="pull-left split-width">
                <h4 class="white">Dapatkan tips untuk mengurus investasimu</h4>
              </div>
            </div>
          <% end %>

          <% @tips.each do |tip| %>
            <div class="front-investment-small border-bottom">
              <%= link_to public_tips_view_path(tip.slug), :class => 'sect-child row no-margin' do %>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color"><%= tip.title %></h5>
                  <p class="font-12 normal-font truncate-6"><%= strip_tags(tip.content) %></p>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l tip.created_at %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="front-glossary col-md-4 col-xs-12">
        <div class="row">
         <%= link_to public_glossary_path do %>
            <div class="hot top-investment" style="background: url(<%= image_url('home-glossary.png') %>); background-size:cover; background-position:center">
              <div class="section-badge tema beritaku-sect">Glosarium</div>
              <div class="pull-left split-width">
                <h4 class="white">Istilah-istilah yang perlu kamu kenal</h4>
              </div>
            </div>
          <% end %>

          <% @glossaries.each do |glossary| %>
            <div class="front-glossary-small border-bottom">
              <%= link_to public_glossary_path, :class => 'sect-child row no-margin' do %>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color"><%= glossary.title %></h5>
                  <p class="font-12 normal-font truncate-6"><%= glossary.description %></p>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l glossary.created_at %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script>
  window.should_disable_scroll_inspector = false;
</script>
<% end %>
