<div class="front-page top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="home-jumbotron">
        <div class="col-xs-12 front-body-headline">
          <div class="text-center">
            <h2 class="white">Belajar investasi itu mudah loh!</h2>
            <%= link_to 'Mulai dari sini!', public_module_path, :class => 'white invest-btn text-center' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron-split">
        <div class="col-md-6 col-sm-12 col-xs-12 front-pad-left" style="background: url(<%= image_url('tax.jpg') %>); background-size:cover; background-position:center">
          <div class="beritaku-hot-split">
            <div class="hot-split-wrapper">
              <div class="top section-badge beritaku-sect">Beritaku</div>

              <div class="headline-beritaku">
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                <h4 class="white">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet</h4>
                <a href="#" class="investasiku-color">Read more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 front-pad-right">
          <div class="headline-split vertical-middle">
            <h4 class="white">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet</h4>
            <a href="#" class="invest-btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ad-sense"></div>

<div class="front-page bottom-section">
  <div class="container">
    <div class="row">
      <div class="front-beritaku col-md-4 col-xs-12">
        <div class="row">
          <a href="">
          <div class="hot top-beritaku" style="background: url(<%= image_url('tax.jpg') %>); background-size:cover; background-position:center">
            <div class="dark-bg">
              <div class="section-badge beritaku-sect">Beritaku</div>
              <h4 class="white hot-tittle">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h4>
            </div>
          </div>
          </a>

          <div class="front-beritaku-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="beritaku-wrapper">
                <%= image_tag 'tax.jpg', :class => 'imej' %>
              </div>
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-beritaku-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="beritaku-wrapper">
                <%= image_tag 'tax.jpg', :class => 'imej' %>
              </div>
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-beritaku-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="beritaku-wrapper">
                <%= image_tag 'tax.jpg', :class => 'imej' %>
              </div>
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-beritaku-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="beritaku-wrapper">
                <%= image_tag 'tax.jpg', :class => 'imej' %>
              </div>
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="front-investment-theme col-md-4 col-xs-12">
        <div class="row">
          <a href="">
            <div class="hot top-investment" style="background: url(<%= image_url('tax.jpg') %>); background-size:cover; background-position:center">
                <div class="section-badge beritaku-sect">Investment Theme</div>
                <h4 class="white hot-tittle">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h4>
            </div>
          </a>

          <div class="front-investment-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 normal-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-investment-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 normal-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-investment-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 normal-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="front-glossary col-md-4 col-xs-12">
        <div class="row">
         <a href="">
            <div class="hot top-investment" style="background: url(<%= image_url('tax.jpg') %>); background-size:cover; background-position:center">
                <div class="section-badge beritaku-sect">Glossary</div>
                <h4 class="white hot-tittle">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h4>
            </div>
          </a>

          <div class="front-glossary-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 normal-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-glossary-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 normal-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>

          <div class="front-glossary-small border-bottom">
            <a href="#" class="sect-child row no-margin">
              <!-- <hr> -->
              <div class="headline-small-sect">
                <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                <p class="font-12 normal-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script>
  window.should_disable_scroll_inspector = false;
</script>
<% end %>
