<div class="front-page top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="home-jumbotron">
        <div class="col-xs-12 front-body-headline">
          <div class="text-center">
            <h2 class="white">Belajar investasi itu mudah loh!</h2>
            <%= link_to 'Mulai dari sini!', public_module_path, :class => 'white invest-btn text-center' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron-split">
        <div class="col-md-6 col-sm-12 col-xs-12 front-pad-left" style="background: url(<%= @hot_news.image_url || image_url('tax.jpg') %>); background-size:cover; background-position:center">
          <div class="beritaku-hot-split">
            <div class="hot-split-wrapper">
              <div class="top section-badge beritaku-sect">Beritaku</div>

              <div class="headline-beritaku">
                <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l @hot_news.created_at %></p>
                <h4 class="white"><%= @hot_news.title %></h4>
                <%= link_to 'Read more', public_news_view_path(@hot_news.slug), :class => 'investasiku-color' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 front-pad-right">
          <div class="headline-split vertical-middle">
            <h4 class="white">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet</h4>
            <a href="#" class="invest-btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ad-sense"></div>

<div class="front-page bottom-section">
  <div class="container">
    <div class="row">
      <div class="front-beritaku col-md-4 col-xs-12">
        <div class="row">
          <%= link_to public_news_path do %>
            <div class="hot top-beritaku" style="background: url(<%= image_url('home-beritaku.png') %>); background-size:cover; background-position:center">

               <!--  udah d rubah --> <h4 class="white hot-tittle">Beritaku</h4>

            </div>
          <% end %>

          <% @news.each do |news| %>
            <div class="front-beritaku-small border-bottom">
              <%= link_to public_news_view_path(news.slug), :class => 'sect-child row no-margin' do %>
                <div class="beritaku-wrapper">
                  <%= image_tag news.image_url || 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color"><%= news.title %></h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l news.created_at %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="front-investment-theme col-md-4 col-xs-12">
        <div class="row">
          <%= link_to public_tips_path do %>
            <div class="hot top-investment" style="background: url(<%= image_url('home-tips.png') %>); background-size:cover; background-position:center">
              <h4 class="white hot-tittle">Investment Theme</h4>
            </div>
          <% end %>

          <% @tips.each do |tip| %>
            <div class="front-investment-small border-bottom">
              <%= link_to public_tips_view_path(tip.slug), :class => 'sect-child row no-margin' do %>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color"><%= tip.title %></h5>
                  <p class="font-12 normal-font truncate-6"><%= strip_tags(tip.content) %></p>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l tip.created_at %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="front-glossary col-md-4 col-xs-12">
        <div class="row">
         <%= link_to public_glossary_path do %>
            <div class="hot top-investment" style="background: url(<%= image_url('home-glossary.png') %>); background-size:cover; background-position:center">
              <h4 class="white hot-tittle">Glossary</h4>
            </div>
          <% end %>

          <% @glossaries.each do |glossary| %>
            <div class="front-glossary-small border-bottom">
              <%= link_to public_glossary_path, :class => 'sect-child row no-margin' do %>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color"><%= glossary.title %></h5>
                  <p class="font-12 normal-font truncate-6"><%= glossary.description %></p>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l glossary.created_at %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
<script>
  window.should_disable_scroll_inspector = false;
</script>
<% end %>
