<div class="news-details invesment-view">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12 news-content">
            <ol class="breadcrumb transparent no-padding">
              <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
              <li class="breadcrumb-item active">Tips &amp; Trick</li>
            </ol>
            <h3 class="investasiku-color"><%= @tip.title %></h3>
            <div class="time-publish"><p class="grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l @tip.created_at %>&nbsp;</p></div>

            <%= raw @tip.content %>

            <p class="grey font-12">Posted by <b class="investasiku-color"><%= @tip.custom_posted_by || @tip.posted_by.full_name %></b></p>

            <%= render :partial => 'home/shared/share_buttons', :locals => { :minimal => false,
                                                                             :title => @tip.title,
                                                                             :url => public_tips_view_url(@tip.slug),
                                                                             :image => image_url('logo_color.png') } %>
          </div>

          <%= render 'home/shared/latest_news_side' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'home/shared/ad_view' %>
