<%
  set_meta_tags title: 'Investasiku', site: 'Learning Module'
  set_meta_tags description: 'Belajar investasi itu mudah loh!'
  set_meta_tags keywords: %w[investasiku investasi belajar module learning modul pembelajaran]
%>

<div class="learning-module">
  <div class="container-fluid">
    <div class="row">
      <ul class="learning-accord">
        <div class="glossary-header clearfix border-bottom">
          <div class="col-md-12 no-padding">
            <h3 class="investasiku-color uppercase">Belajar Investasi</h3>
          </div>
        </div>

        <li>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% step_num = 0 %>
            <% if @preference.module_step_1.present? %>
              <% step_num += 1 %>
              <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_1,
                                                                                      :icon_url => 'module-step-1.png',
                                                                                      :step_num => step_num } %>
            <% end %>

            <% if @preference.module_step_2.present? %>
              <% step_num += 1 %>
              <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_2,
                                                                                      :icon_url => 'module-step-2.png',
                                                                                      :step_num => step_num } %>
            <% end %>

            <% if @preference.module_step_3.present? %>
              <% step_num += 1 %>
              <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_3,
                                                                                      :icon_url => 'module-step-3.png',
                                                                                      :step_num => step_num } %>
            <% end %>

            <% if @preference.module_step_4.present? %>
              <% step_num += 1 %>
              <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_4,
                                                                                      :icon_url => 'module-step-4.png',
                                                                                      :step_num => step_num } %>
            <% end %>

            <% if @preference.module_step_5.present? %>
              <% step_num += 1 %>
              <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_5,
                                                                                      :icon_url => 'module-step-5.png',
                                                                                      :step_num => step_num } %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= render 'home/shared/ad_view' %>
