<div class="learning-module">
  <div class="container-fluid">
    <div class="row">
      <ul class="learning-accord">
        <li>
          <% if @preference.module_step_1.present? %>
            <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_1,
                                                                                    :icon_url => 'icon1.png',
                                                                                    :step_num => 1 } %>
          <% end %>

          <% if @preference.module_step_2.present? %>
            <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_2,
                                                                                    :icon_url => 'icon1.png',
                                                                                    :step_num => 2 } %>
          <% end %>

          <% if @preference.module_step_3.present? %>
            <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_3,
                                                                                    :icon_url => 'icon1.png',
                                                                                    :step_num => 3 } %>
          <% end %>

          <% if @preference.module_step_4.present? %>
            <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_4,
                                                                                    :icon_url => 'icon1.png',
                                                                                    :step_num => 4 } %>
          <% end %>

          <% if @preference.module_step_5.present? %>
            <%= render :partial => 'home/shared/learning_module_item', :locals => { :mod => @preference.module_step_5,
                                                                                    :icon_url => 'icon1.png',
                                                                                    :step_num => 5 } %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= render 'home/shared/ad_view' %>
