<div class="learning-module">
  <div class="container-fluid">
    <div class="row">
      <ul class="learning-accord">
        <li>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-learning">
              <div class="panel-heading top investasiku-bg" role="tab" id="headingOne">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="panel-title ">
                  <h4 class="white">
                    <%= image_tag 'icon1.png' %>
                    Step 1 : lorem ipsum dolor sit amet
                  </h4>
                </a>

              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body caller">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                  <div class="share-group row no-margin">
              <!-- Facebook Share Button -->
              <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
              <!-- Googple Plus Share Button -->
              <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
              <!-- Twitter Share Button -->
              <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
              <!-- Stumbleupon Share Button -->
              <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
              <!-- Pinterest Share Button -->
              <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
              <!-- LinkedIn Share Button -->
              <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <!-- Buffer Share Button -->
              <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
            </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-learning">
              <div class="panel-heading investasiku-bg" role="tab" id="headingOne">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" class="panel-title ">
                  <h4 class="white">
                    <%= image_tag 'icon1.png' %>
                    Step 1 : lorem ipsum dolor sit amet
                  </h4>
                </a>

              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body caller">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                  <div class="share-group row no-margin">
              <!-- Facebook Share Button -->
              <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
              <!-- Googple Plus Share Button -->
              <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
              <!-- Twitter Share Button -->
              <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
              <!-- Stumbleupon Share Button -->
              <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
              <!-- Pinterest Share Button -->
              <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
              <!-- LinkedIn Share Button -->
              <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <!-- Buffer Share Button -->
              <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
            </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-learning">
              <div class="panel-heading investasiku-bg" role="tab" id="headingOne">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne" class="panel-title ">
                  <h4 class="white">
                    <%= image_tag 'icon1.png' %>
                    Step 1 : lorem ipsum dolor sit amet
                  </h4>
                </a>

              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body caller">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                  <div class="share-group row no-margin">
              <!-- Facebook Share Button -->
              <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
              <!-- Googple Plus Share Button -->
              <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
              <!-- Twitter Share Button -->
              <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
              <!-- Stumbleupon Share Button -->
              <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
              <!-- Pinterest Share Button -->
              <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
              <!-- LinkedIn Share Button -->
              <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <!-- Buffer Share Button -->
              <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
            </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-learning">
              <div class="panel-heading investasiku-bg" role="tab" id="headingOne">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne" class="panel-title ">
                  <h4 class="white">
                    <%= image_tag 'icon1.png' %>
                    Step 1 : lorem ipsum dolor sit amet
                  </h4>
                </a>

              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body caller">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                  <div class="share-group row no-margin">
              <!-- Facebook Share Button -->
              <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
              <!-- Googple Plus Share Button -->
              <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
              <!-- Twitter Share Button -->
              <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
              <!-- Stumbleupon Share Button -->
              <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
              <!-- Pinterest Share Button -->
              <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
              <!-- LinkedIn Share Button -->
              <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <!-- Buffer Share Button -->
              <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
            </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-learning">
              <div class="panel-heading investasiku-bg" role="tab" id="headingOne">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne" class="panel-title ">
                  <h4 class="white">
                    <%= image_tag 'icon1.png' %>
                    Step 1 : lorem ipsum dolor sit amet
                  </h4>
                </a>

              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body caller">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                  <div class="share-group row no-margin">
              <!-- Facebook Share Button -->
              <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
              <!-- Googple Plus Share Button -->
              <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
              <!-- Twitter Share Button -->
              <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
              <!-- Stumbleupon Share Button -->
              <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
              <!-- Pinterest Share Button -->
              <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
              <!-- LinkedIn Share Button -->
              <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <!-- Buffer Share Button -->
              <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
            </div>
                </div>
              </div>
            </div>
          </div>


        </li>
      </ul>

    </div>
  </div>

</div>

<div class="ad-sense"></div>
