<div class="news-details">
  <div class="container-fluid">
    <div class="row">
      <div class="news-cover" style="background: url(<%= @news.image_url || image_url('tax.jpg') %>);">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12 news-content">
            <ol class="breadcrumb transparent no-padding">
              <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
              <li class="breadcrumb-item active">Beritaku</li>
            </ol>
            <h3 class="investasiku-color"><%= @news.title %></h3>
            <div class="time-publish"><p class="grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l @news.created_at %>&nbsp;</p></div>
            <div class="tag-group">
              <% @news.tags.each do |tag| %>
                <%= link_to tag.name, public_news_path + '?tag=' + tag.name, :class => 'news-type investasiku-bg' %>
              <% end %>
            </div>

            <%= raw @news.content %>

            <p class="grey font-12">Posted by <b class="investasiku-color"><%= @news.custom_posted_by || @news.posted_by.full_name %></b></p>

            <%= render :partial => 'home/shared/share_buttons', :locals => { :minimal => false,
                                                                             :title => @news.title,
                                                                             :url => public_news_view_url(@news.slug),
                                                                             :image => @news.image_url } %>
          </div>

          <%= render 'home/shared/latest_news_side' %>
        </div>
      </div>

      <% unless @related.blank? %>
        <div class="container-fluid related-news hidden-xs">
          <h4 class="related-header">Related news</h4>
          <div class="row">
            <div class="col-md-12 col-sm-12 border-top x-hidden">
              <div class="inner-container">
                <% @related.each do |news| %>
                  <div class="related front-beritaku-small border-right col-md-4 col-sm-4 col-xs-12">
                    <%= link_to public_news_path(news.slug), :class => 'sect-child row no-margin' do %>
                      <div class="beritaku-wrapper">
                        <%= image_tag news.image_url || 'tax.jpg', :class => 'imej' %>
                      </div>
                      <div class="headline-small-sect">
                        <h5 class="investasiku-color truncate-3"><%= news.title %></h5>
                        <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%= l news.created_at %></p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ad-sense"></div>
