<div class="news-details">
  <div class="container-fluid">
    <div class="row">
      <div class="news-cover" style="background: url(<%= image_url('tax.jpg') %>);">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12 news-content">
            <ol class="breadcrumb transparent no-padding">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Beritaku</li>
            </ol>
            <h3 class="investasiku-color">Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet</h3>
            <div class="time-publish"><p class="grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016 </p></div>
            <div class="tag-group">
              <!-- <h5>Tags</h5> -->
              <a href="" class="news-type investasiku-bg">Business</a>
              <a href="" class="news-type investasiku-bg">Business</a>
              <a href="" class="news-type investasiku-bg">Business</a>
              <a href="" class="news-type investasiku-bg">Business</a>
              <a href="" class="news-type investasiku-bg">Business</a>
              <a href="" class="news-type investasiku-bg">Business</a>
            </div>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit.</p>

            <div class="image-content">
              <%= image_tag 'tax.jpg', :class => 'no-margin' %>
              <p class="grey img-det">Lorem ipsum</p>
            </div>

            <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit.</p>

            <p class="grey font-12">Posted by <b class="investasiku-color">John Doe</b></p>

            <div class="share-group row no-margin">
              <!-- Facebook Share Button -->
              <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
              <!-- Googple Plus Share Button -->
              <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
              <!-- Twitter Share Button -->
              <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
              <!-- Stumbleupon Share Button -->
              <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
              <!-- Pinterest Share Button -->
              <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
              <!-- LinkedIn Share Button -->
              <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
              <!-- Buffer Share Button -->
              <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
            </div>
          </div>

          <div class="col-md-4 col-xs-12 latest-news">
            <div class="latest-header investasiku-bg-color">
              <h4 class=white>Latest News</h4>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="container-fluid related-news hidden-xs">
        <h4 class="related-header">Related news</h4>
        <div class="row">
          <div class="col-md-12 col-sm-12 border-top x-hidden">
            <div class="inner-container">
              <div class="related front-beritaku-small border-right col-md-4 col-sm-4 col-xs-12">
                <a href="#" class="sect-child row no-margin">
                  <!-- <hr> -->
                  <div class="beritaku-wrapper">
                    <%= image_tag 'tax.jpg', :class => 'imej' %>
                  </div>
                  <div class="headline-small-sect">
                    <h5 class="investasiku-color truncate-3">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                    <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                  </div>
                </a>
              </div>

              <div class="related front-beritaku-small border-right col-md-4 col-sm-4 col-xs-12">
                <a href="#" class="sect-child row no-margin">
                  <!-- <hr> -->
                  <div class="beritaku-wrapper">
                    <%= image_tag 'tax.jpg', :class => 'imej' %>
                  </div>
                  <div class="headline-small-sect">
                    <h5 class="investasiku-color truncate-3">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                    <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                  </div>
                </a>
              </div>

              <div class="related front-beritaku-small border-right col-md-4 col-sm-4 col-xs-12">
                <a href="#" class="sect-child row no-margin">
                  <!-- <hr> -->
                  <div class="beritaku-wrapper">
                    <%= image_tag 'tax.jpg', :class => 'imej' %>
                  </div>
                  <div class="headline-small-sect">
                    <h5 class="investasiku-color truncate-3">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                    <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="ad-sense"></div>
