<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Learning Modules', admins_learning_modules_path %>
    <%= breadcrumb_item 'Create Learning Module' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create a Learning Module</h1>
  </div>
</div>

<%= render 'form', learning_module: @learning_module %>
