<div class="panel panel-learning">
  <div class="panel-heading top investasiku-bg" role="tab" id="heading<%= step_num %>">
    <a role="button" data-parent="#accordion" href="#collapse<%= step_num %>" aria-expanded="true" aria-controls="collapse<%= step_num %>" class="panel-title scroll-to-position-b">
      <%= image_tag icon_url %>
      <h4 class="white">Step <%= step_num %> : <%= mod.title %></h4>
    </a>
  </div>
  <div id="collapse<%= step_num %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= step_num %>">
    <div class="panel-body caller">
      <p><%= raw mod.content %></p>
      <%= render :partial => 'home/shared/share_buttons', :locals => { :minimal => false,
                                                                       :title => mod.title,
                                                                       :url => public_module_url + '#collapse' + step_num.to_s,
                                                                       :image => icon_url } %>
    </div>
    <div class="absolute-up">
      <a href="#heading<%= step_num %>" class="scroll-to-position"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
