<div class="share-group row no-margin<%= minimal ? ' beritaku' : '' %>" data-title="<%= title %>" data-url="<%= url %>" data-image="<%= full_image_url_for(image) || image_url('tax.jpg') %>">
  <a class="btnz share stumbleupon" href="#" data-media="email"><i class="fa fa-envelope-o"></i><%= minimal ? '' : ' Email' %></a>
  <a class="btnz share facebook" href="#" data-media="facebook"><i class="fa fa-facebook"></i><%= minimal ? '' : ' Share'%></a>
  <a class="btnz share twitter" href="#" data-media="twitter"><i class="fa fa-twitter"></i><%= minimal ? '' : ' Tweet'%></a>
  <a class="btnz share linkedin" href="#" data-media="linkedin"><i class="fa fa-linkedin"></i><%= minimal ? '' : ' LinkedIn'%></a>
</div>
