<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'Investasiku' %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab' %>
  </head>

  <body class="front-bg">
    <%
      set_meta_tags icon: [
        { href: 'icon_96.png', sizes: '32x32 96x96', type: 'image/png' },
        { href: 'icon_itouch_precomp_32.png', rel: 'apple-touch-icon-precomposed', sizes: '32x32', type: 'image/png' },
      ]
      set_meta_tags author: @preference.facebook_link
      set_meta_tags publisher: @preference.facebook_link
      set_meta_tags image_src: "http://yoursite.com/icons/icon_32.png"
    %>

    <% unless current_page?(public_contact_us_path) %>
      <div class="floating-contact">
        <div id="contact-accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="contact-heading">
              <a class="contact-float" data-parent="#contact-accordion" href="#contact-collapse" aria-expanded="true" aria-controls="contact-collapse">
                <%= image_tag 'contact-icon.png' %>
                <h5>Ada yang bisa kami bantu?</h5>
                <h5 class="fa fa-minus pull-right minimize-icon" aria-hidden="true"></h5>
              </a>
            </div>

            <div id="contact-collapse" class="collapse in floating" role="tabpanel" aria-labelledby="contact-heading">
              <div class="white-form-group">
                <p class="font-11">Sampaikan pertanyaan kamu seputar investasi disini</p>
                <%= form_tag public_send_contact_path, :class => 'contact-us' do %>
                  <div class="form-group">
                    <%= text_field_tag :name, '', :placeholder => 'Nama', :class => 'form-control', :required => true %>
                  </div>
                  <div class="form-group">
                    <%= email_field_tag :email, '', :placeholder => 'Email', :class => 'form-control', :required => true %>
                  </div>
                  <div class="form-group">
                    <%= text_area :message, '', :placeholder => 'Pertanyaan kamu', :class => 'form-control', :required => true, :rows => 4 %>
                  </div>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag :subscribe %>&nbsp;Saya ingin subscribe newsletter Investasiku
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary contact">Kirim </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="navbar-header navbar-fixed-top transparent <%= navbar_class_for_action %>">
      <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><i class="fa fa-bars mobile" aria-hidden="true"></i></button>
    </div>
    <div class="navbar-inverse side-collapse in navbar-fixed-top mobile transparent <%= navbar_class_for_action %>">
      <nav role="navigation" class="navbar-collapse">
        <%= link_to '', root_path, :class => 'navbar-brand mobile' %>
        <ul class="nav navbar-nav menu-kolegial navbar-right mobile">
          <li class="<%= class_for_content_indicator(:home, :index) %>"><%= link_to 'Home', root_path %></li>
          <li class="<%= class_for_content_indicator(:home, :my_news, :news_view) %>"><%= link_to 'Beritaku', public_news_path %></a></li>
          <li class="<%= class_for_content_indicator(:home, :investment_tips, :investment_tips_view) %>"><%= link_to 'Tips Investasi', public_tips_path %></a></li>
          <li class="<%= class_for_content_indicator(:home, :glossary) %>"><%= link_to 'Glosarium', public_glossary_path %></a></li>
          <li><%= link_to 'Belajar Investasi', public_module_path, :class => 'learning-btn' %></li>
          <li class="search-mobile hidden-lg hidden-sm hidden-md">
            <div class="input-group">
              <%= form_tag public_perform_search_path, :method => :get do %>
                <%= text_field_tag :query, '', :class => 'form-control invest-rad-30', :placeholder => 'Cari...' %>
                <span class="input-group-btn">
                  <button class="btn btn-default invest-rad-30" type="button"><i class="fa fa-search"></i></button>
                </span>
              <% end %>
            </div>
          </li>

          <div id="sb-search" class="sb-search hidden-xs">
            <%= form_tag public_perform_search_path, :method => :get do %>
              <%= text_field_tag :query, '', :class => 'sb-search-input', :placeholder => 'Cari...', :type => 'search' %>
              <%= submit_tag '', :class => 'sb-search-submit' %>
              <span class="sb-icon-search"><i class="fa fa-search"></i></span>
            <% end %>
          </div>
        </ul>
      </nav>
    </div>

    <section class="side-collapse-container">
      <%= yield %>

      <footer class="footer text-left">
        <div class="container">
          <div class="row">
            <div class="no-padding col-md-3 col-sm-12 col-xs-12">
              <h4 class="white"><strong>Investasiku</strong></h4>
              <p class="light grey font-12">Investasiku merupakan sebuah platform online yang dirancang untuk mengedukasi pembaca mengenai keuntungan dan cara-cara investasi dengan fokus khusus investasi reksadana</p>
            </div>

            <div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12 link-footer">
              <div class="col-md-4 col-sm-3 col-xs-12 about">
                <h5 class="grey"><strong>About</strong></h5>
                <%= link_to public_team_path, :class => 'disp-block dark-grey' do %>
                  <strong>Team</strong>
                <% end %>
                <%= link_to public_contact_us_path, :class => 'disp-block dark-grey' do %>
                  <strong>Kontak Kami</strong>
                <% end %>
                <%= link_to public_terms_path, :class => 'disp-block dark-grey' do %>
                  <strong>Syarat dan Ketentuan</strong>
                <% end %>
                <%= link_to public_about_us_path, :class => 'disp-block dark-grey' do %>
                  <strong>Tentang Kami</strong>
                <% end %>
              </div>
            </div>

            <div class=" col-md-4 col-sm-12 col-xs-12 latest">
              <% unless @preference.facebook_link.blank? %>
                <%= link_to @preference.facebook_link, :class => 'dark-grey' do %>
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <% unless @preference.twitter_link.blank? %>
                <%= link_to @preference.twitter_link, :class => 'dark-grey' do %>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <% unless @preference.instagram_link.blank? %>
                <%= link_to @preference.instagram_link, :class => 'dark-grey' do %>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </footer>
    </section>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield :javascript %>
  </body>
</html>
