<div class="row">
  <%= breadcrumb do %>
    <%= breadcrumb_item %>
    <%= breadcrumb_item 'Newsletter Queue', admins_newsletter_queues_path %>
    <%= breadcrumb_item 'Edit Queue' %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit <%= @newsletter_queue.subject %></h1>
  </div>
</div>

<%= render 'form', newsletter_queue: @newsletter_queue %>
